public/eu/outbound/CR-for-NES-Services-V2/BusinessObjects/ICS/Common/V2/IE4N10.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="urn:wco:datamodel:eu:ics2:2" targetNamespace="urn:wco:datamodel:eu:ics2:2" elementFormDefault="qualified" attributeFormDefault="unqualified">
  <xs:annotation>
    <xs:documentation>Generated from baseline release</xs:documentation>
  </xs:annotation>
  <xs:include schemaLocation="ctypes.xsd" />
  <xs:element name="IE4N10" type="IE4N10Type" />
  <xs:complexType name="IE4N10Type">
    <xs:sequence>
      <xs:element name="MessageHeader" type="MessageHeaderType" />
      <xs:element name="requestENSData" type="RequestENSDataType">
        <xs:annotation>
          <xs:documentation>
            <ICS2CLMS>CL027</ICS2CLMS>
            <ICS2CLTrade>CL027</ICS2CLTrade>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="messageFunction" type="MessageFunctionContentType">
        <xs:annotation>
          <xs:documentation>
            <ICS2CLMS>CL727</ICS2CLMS>
            <ICS2CLTrade>CL727</ICS2CLTrade>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="functionalReference" type="FunctionalReferenceContentType" />
      <xs:element name="documentIssueDate" type="DocumentIssueDateType" />
      <xs:element name="dateAndTimeOfPresentation" type="DateAndTimeOfPresentationType" />
      <xs:element name="relatedENS" maxOccurs="9999" type="RelatedENSType07" />
      <xs:element name="personPresentingTheGoods" type="PersonPresentingTheGoodsType" />
      <xs:element name="customsOfficeOfPresentation" type="CustomsOfficeOfPresentationType" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>
