public/eu/outbound/CR-for-NES-Services-V2/BusinessObjects/ICS/Common/V2/IE4N09.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="urn:wco:datamodel:eu:ics2:2" targetNamespace="urn:wco:datamodel:eu:ics2:2" elementFormDefault="qualified" attributeFormDefault="unqualified">
  <xs:annotation>
    <xs:documentation>Generated from baseline release</xs:documentation>
  </xs:annotation>
  <xs:include schemaLocation="ctypes.xsd" />
  <xs:element name="IE4N09" type="IE4N09Type" />
  <xs:complexType name="IE4N09Type">
    <xs:sequence>
      <xs:element name="MessageHeader" type="MessageHeaderType" />
      <xs:element name="MRN" type="MRNContentType1" />
      <xs:element name="notificationDate" type="NotificationDateType" />
      <xs:element name="scheduledControlDate" minOccurs="0" type="ScheduledControlDateType" />
      <xs:element name="customsOfficeOfControl" type="CustomsOfficeOfControlType" />
      <xs:element name="representative" minOccurs="0" type="RepresentativeType03" />
      <xs:element name="transportDocument" minOccurs="0" type="TransportDocumentType" />
      <xs:element name="control" maxOccurs="99999" type="ControlType" />
      <xs:element name="declarant" minOccurs="0" type="DeclarantType03" />
      <xs:element name="personNotifyingTheArrival" minOccurs="0" type="PersonNotifyingTheArrivalType03">
        <xs:annotation>
          <xs:documentation>
            <Conditions>C3049</Conditions>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="notifyParty" minOccurs="0" type="NotifyPartyType04" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>
