public/eu/outbound/CR-for-NES-Services-V2/BusinessObjects/ICS/Common/V2/IE4Q05.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="urn:wco:datamodel:eu:ics2:2" targetNamespace="urn:wco:datamodel:eu:ics2:2" elementFormDefault="qualified" attributeFormDefault="unqualified">
  <xs:annotation>
    <xs:documentation>Generated from baseline release</xs:documentation>
  </xs:annotation>
  <xs:include schemaLocation="ctypes.xsd" />
  <xs:element name="IE4Q05" type="IE4Q05Type" />
  <xs:complexType name="IE4Q05Type">
    <xs:sequence>
      <xs:element name="MessageHeader" type="MessageHeaderType" />
      <xs:element name="documentIssueDate" type="DocumentIssueDateType" />
      <xs:element name="riskAnalysisRequestReference" type="RiskAnalysisRequestReferenceContentType" />
      <xs:element name="MRN" minOccurs="0" type="MRNContentType1">
        <xs:annotation>
          <xs:documentation>
            <Rules>R3049</Rules>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="responsibleMemberState" type="ResponsibleMemberStateType" />
      <xs:element name="representative" minOccurs="0" type="RepresentativeType04">
        <xs:annotation>
          <xs:documentation>
            <Rules>R3049</Rules>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="transportDocument" minOccurs="0" type="TransportDocumentType">
        <xs:annotation>
          <xs:documentation>
            <Rules>R3049</Rules>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="carrier" minOccurs="0" type="CarrierType05">
        <xs:annotation>
          <xs:documentation>
            <Rules>R3049</Rules>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="declarant" minOccurs="0" type="DeclarantType04">
        <xs:annotation>
          <xs:documentation>
            <Rules>R3049</Rules>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="referralRequestDetails" maxOccurs="999" type="ReferralRequestDetailsType06" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>
