public/eu/outbound/CR-for-NES-Services-V2/BusinessObjects/ICS/Common/V2/IE4S03.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="urn:wco:datamodel:eu:ics2:2" targetNamespace="urn:wco:datamodel:eu:ics2:2" elementFormDefault="qualified" attributeFormDefault="unqualified">
  <xs:annotation>
    <xs:documentation>Generated from baseline release</xs:documentation>
  </xs:annotation>
  <xs:include schemaLocation="ctypes.xsd" />
  <xs:element name="IE4S03" type="IE4S03Type" />
  <xs:complexType name="IE4S03Type">
    <xs:sequence>
      <xs:element name="MessageHeader" type="MessageHeaderType" />
      <xs:element name="messageFunction" type="MessageFunctionContentType">
        <xs:annotation>
          <xs:documentation>
            <ICS2CLMS>CL727</ICS2CLMS>
            <ICS2CLTrade>CL727</ICS2CLTrade>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="functionalReference" type="FunctionalReferenceContentType" />
      <xs:element name="documentIssueDate" type="DocumentIssueDateType" />
      <xs:element name="MRN" type="MRNContentType1" />
      <xs:element name="controlResultDate" type="ControlResultDateType" />
      <xs:element name="controlDecision" type="ControlDecisionType" />
      <xs:element name="customsOfficeOfControl" type="CustomsOfficeOfControlType" />
      <xs:element name="controlResults" minOccurs="0" maxOccurs="99999" type="ControlResultsType02">
        <xs:annotation>
          <xs:documentation>
            <Conditions>C3040</Conditions>
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
