public/eu/outbound/CR-for-NES-Services-V2/BusinessActivityService/ICS/ENSLifecycleManagementBAS/V2/CCN2.Service.Customs.EU.ICS.ENSLifecycleManagementBAS_2.0.0_EU.CR_2.0.0.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns="http://xmlns.ec.eu/BusinessActivityService/ICS/ENSLifecycleManagementBAS/V2" xmlns:ccn2="http://ccn2.ec.eu/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://www.w3.org/2005/08/addressing" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://xmlns.ec.eu/BusinessActivityService/ICS/ENSLifecycleManagementBAS/V2" name="ENSLifecycleManagementBAS">
  <wsdl:import namespace="http://xmlns.ec.eu/BusinessActivityService/ICS/ENSLifecycleManagementBAS/V2" location="CCN2.Service.Customs.EU.ICS.ENSLifecycleManagementBAS_2.0.0_2.0.0.wsdl" />
  <wsdl:binding name="ENSLifecycleManagementBASSoapBinding" type="ENSLifecycleManagementBAS">
    <soap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
    <wsp:PolicyReference URI="#wss11_saml20_sendervouches_token_mutual_authn_sign_encrypt" />
    <wsdl:operation name="IE4N07notifyArrival">
      <soap12:operation soapAction="CCN2.Service.Customs.EU.ICS.ENSLifecycleManagementBAS/IE4N07notifyArrival" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="IE4N09notifyControlDecision">
      <soap12:operation soapAction="CCN2.Service.Customs.EU.ICS.ENSLifecycleManagementBAS/IE4N09notifyControlDecision" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="IE4N10submitPresentationInformation">
      <soap12:operation soapAction="CCN2.Service.Customs.EU.ICS.ENSLifecycleManagementBAS/IE4N10submitPresentationInformation" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="IE4S03submitControlResult">
      <soap12:operation soapAction="CCN2.Service.Customs.EU.ICS.ENSLifecycleManagementBAS/IE4S03submitControlResult" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="IE4Q08revokePresentation">
      <soap12:operation soapAction="CCN2.Service.Customs.EU.ICS.ENSLifecycleManagementBAS/IE4Q08revokePresentation" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="IsAlive">
      <soap12:operation soapAction="CCN2.Service.Customs.EU.ICS.ENSLifecycleManagementBAS/IsAlive" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CCN2.Service.Customs.EU.ICS.ENSLifecycleManagementBASV2">
    <wsdl:port name="ENSLifecycleManagementBAS" binding="ENSLifecycleManagementBASSoapBinding">
      <soap12:address location="{partner_Service_EndPoint}" />
      <wsa:EndpointReference>
        <wsa:Address>{partner_Service_EndPoint}</wsa:Address>
        <wsa:Metadata>
          <ccn2:ServiceID>CCN2.Service.Customs.EU.ICS.ENSLifecycleManagementBASV2</ccn2:ServiceID>
          <ccn2:ServiceName>CCN2 Service Customs EU ICS ENSLifecycleManagementBAS V2</ccn2:ServiceName>
          <ccn2:ServiceDescription>CCN2 Service Customs EU ICS ENSLifecycleManagementBAS V2</ccn2:ServiceDescription>
          <ccn2:ServiceVersion>2.0</ccn2:ServiceVersion>
          <ccn2:DestinationId>CCN2.Partner.EU.Customs.TAXUD/ICS_CR{ENV}</ccn2:DestinationId>
          <ccn2:XMLValidation>false</ccn2:XMLValidation>
        </wsa:Metadata>
      </wsa:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
